
<form action="" method="POST" role="form">
    <legend>Change Password</legend>

    <div class="form-group">
        <label for="Old Password">Enter Old Password</label>
        <input type="password" class="form-control" id="oPassword" placeholder="Input field">
    </div>

    <div class="form-group">
        <label for="New Password">Enter New Password:</label>
        <input type="password" class="form-control" id="nPassword" placeholder="Input field">
    </div>

    <div class="form-group">
        <label for="Confirm New Password">Confirm New Password:</label>
        <input type="password" class="form-control" id="cnPassword" placeholder="Input field">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<a href="/adminMain">Return to admin page</a>

